<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<form action="/task" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Tarefa</label>
    <input type="text" class="form-control" name= "task" placeholder="Inserir tarefa"/>
  </div>

  <button type="submit" class="btn btn-primary">Enviar Tarefa</button>
</form>
